version: '3.2'

services:

  frontend:
    build: frontend
    restart: always
    ports:
      - 80:80 # На сервере лучше повесить на 80 порт (или через Nginx-proxy)
    volumes:
      - ./:/app
      # На проде кэш композера обычно не нужен, но можно оставить

  backend:
    build: backend
    restart: always
    ports:
      - 8080:80 # Backend будет, например, на порту 8080
    volumes:
      - ./:/app

  mysql:
    image: mysql:5.7
    restart: always
    # Ports убрали для безопасности (сайт видит базу по внутренней сети)
    volumes:
      # ВАЖНО: сохраняем данные на диск хоста
      - ./mysql_data:/var/lib/mysql
    environment:
      # На сервере пароли лучше сменить и не хранить в файле (использовать .env),
      # но для тестового пойдет
      - MYSQL_ROOT_PASSWORD=verysecret
      - MYSQL_DATABASE=yii2advanced
      - MYSQL_USER=yii2advanced
      - MYSQL_PASSWORD=secret